@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .wrapper {
	height: 100%;
}

body {
	font-family: var(--font-default);
}

#root {
	isolation: isolate;
}

.container {
	margin: 0px auto;
	max-width: 1100px;
	padding: 0px 15px;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.main {
	padding-top: 128px;
	flex: 1 1 auto;
}

.footer {
	flex: 0 0 auto;
}

.title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: bold;
}

.card {
	border: solid rgb(241, 241, 241) 1px;
	background-color: rgb(253, 254, 255);
}

.lock {
	overflow: hidden;
}