@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .wrapper {
	height: 100%;
}

body {
	font-family: var(--font-default);
}

#root {
	isolation: isolate;
}

.container {
	margin: 0px auto;
	max-width: 1200px;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.main {
	padding-top: 128px;
	flex: 1 1 auto;
}

.footer {
	flex: 0 0 auto;
}